*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* background-color: rgb(57, 59, 61); */
}


a{
    text-decoration: none;
    color: unset;
}
ul{
    list-style: none;
    display: inline-block;
}

.row{
    width: 99%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:1% auto;
    padding: 1%;
    text-align: center;

    /* background-color: rgba(197, 255, 236, 0.86); */
}
.container{
    /* background-color: rgb(120, 72, 120); */
    width: 85%;
    margin:1% auto;
}
.container-fluid{
    width: 95%;
    /* background-color: rgb(246, 216, 246); */
    margin:1%  auto;
    /* position: relative; */
}

.storylogo{
    display: inline-block;
    font-size: 99rem;
    font-weight: 800;
    /* position:absolute; */
    border-right: 2px solid rgb(159, 155, 175);
    /* text-shadow: 2px 2px 4px gray; */
    color: rgb(119, 87, 138) !important;
}
.storylogo:hover {
    color: rgb(91, 66, 134);
    text-shadow: 5px 2px 15px rgb(190, 181, 222);
}
.navbar{
    width: 100%;
    height: 76px;
    margin:0px !important;
    position: fixed !important;
    left: 0px;
    top: 0px; 
    z-index: 111;
    opacity: 96%;
    background-color: rgb(209, 206, 223) !important;
    box-shadow:1px 6px 34px rgb(173, 140, 173);
    border: 4px solid rgb(209, 206, 223) !important;
    color: rgb(69, 45, 82) !important;
 }
 .navbar-inverse .navbar-nav>.open>a,
 .navbar-inverse .navbar-nav>.open>a:focus,
 .navbar-inverse .navbar-nav>.open>a:hover {
    color: rgb(69, 45, 82) !important ; 
 }
.navbar-inverse .navbar-nav>li>a {
    color: rgb(69, 45, 82) !important;
}
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
background-color: unset !important;
    color: rgb(69, 45, 82) !important ;
}

.btn-default {
    background-color: rgb(68, 48, 71) !important;
    border-color: #bda9d5;
    color: #dad7e5 !important;
}

.dropdown-menu{
        background-color: rgb(79, 59, 82) !important;
        color: #f4e6f4 !important;
        border-radius:11px !important ;
        -webkit-border-radius:11px !important ;
        -moz-border-radius:11px !important ;
        -ms-border-radius:11px !important ;
        -o-border-radius:11px !important ;
        text-transform: capitalize;
}
.dropdown-menu:hover {
    color: #e5d7e5 !important;
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #f3eaf3 !important;
    background-color: #876b87 !important;
    border-radius:11px;
    -ms-border-radius:11px;
    -o-border-radius:11px;
    -webkit-border-radius:11px;
    -moz-border-radius:11px;
}

.dropdown-menu>li>a {
    display: block;
    padding: 1px 11px;
    clear: both;
    font-weight: 300;
    line-height: 1.1;
     color: #dad7e5;
    white-space: nowrap;
}

a {
    color: #dad7e5;
}


.navbar-nav{
    padding: 0;
    color: rgb(52, 41, 62) !important;
}
nav .navbar .navbar-header {
    opacity: 50%;
    z-index: 2; 
    /* padding: 0 !important;  */
}

.right-nav-sec{
color: rgb(52, 41, 62) !important;
    display: flex;
    justify-content: right;
}

.carousel {
    width: 100%;
    margin-top: 72px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.carousel ol li ,.carousel ol .active{
 width: 30px;
 height: 4px;
 border: none;
 background-color: aliceblue;
}
.carousel ol .active {
    background-color: rgb(85, 65, 116);
}

.imga {
    /* width: 10px;
    height: 10px; */
}

.imga {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin-top: -11px;
}

 .sliderr {
     width: 100%;
     height: 600px;
     position: relative;
 }

 .sliderr img {
     width: 100%;
     height: 100%;
     background-size: contain;
 }

  .sliderbox{
    height: 150px;
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50% , -40%);
    background-color: rgba(173, 159, 182, 0.608);
    -webkit-transform: translate(-50% , -40%);
    -moz-transform: translate(-50% , -40%);
    -ms-transform: translate(-50% , -40%);
    -o-transform: translate(-50% , -40%);
    /* margin: 4px auto; */
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.btnBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4px auto;
}
.btnBox h4  {
   text-transform: capitalize;
   font-weight: bold;
    margin: 25px;
    font-size: 25px;
}

.line2{
    border-bottom: 1px solid rgb(90, 87, 94);
    background-color: rgb(161, 147, 173);
    width: 100%;
    height: 11px;
}

.imgbag img{
background-attachment: fixed;
width: 100%;
height: 250px;
}

.bigBox{
    width: 90%;
    background-color: rgb(179, 154, 213);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}
.bigBox .card{
    margin: 22px;
    padding: 4px;
}

.bigBox img{
    width: 100%;
    height: 250px;
    /* margin: auto; */
}

ul{
    list-style: none;
    display: inline-block;
    margin: 2%;
}